<!DOCTYPE html>
<html>

<head>
    <title>Lihat Calonpemilih</title>
    <link rel="stylesheet" type="text/css" href="/lurah/lihatcalonpemilih.css">
</head>

<body>

    <%- include('./layout/navigator.ejs') %>
   
    <div class="container">
        <div class="rectangle">
            <h2>Daftar Calon Pemilih</h2>
            <div class="line"></div>
            <form method="GET" action="/lurah/lihat-camil">
                <div class="form-row">
                    <input type="text" name="filter" placeholder="Cari Calon Pemilih" value="<%= name %>">
                    <input type="submit" value="SEARCH">
                </div>
                <div class="form-row saksi">
                    <label for="saksi">Tampilkan Saksi</label>
                    <input type="checkbox" id="saksi" value="saksi">
                </div>
            </form>
            <div class="spacer-line"></div>
            <div class="profile-details">
                <table>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIK</th>
                        <th>Alamat</th>
                        <th>Partai</th>
                        <th>Action</th>
                    </tr>
                    <% let i = 1; %>
                    <% for(const row of result) {%>
                        <tr>
                            <td><%= i %></td>
                            <td><%= row.namaPengguna %></td>
                            <td><%= row.idCamil %></td>
                            <td><%= row.alamat %></td>
                            <td><%= row.ket ? row.ket : '-' %></td>
                            <td>
                             <button class="button" onclick="handleButtonClick('<%= row.userID %>')">Detail</button>
                            </td>
                           </tr>
                           <% i++; %>
                          <% } %>
                </table>
           
            </div>
            <%- include('./layout/pagination.ejs') %>
        </div>
    </div>
  
    <div class="hider">
        <div class="rectangle1">
            <h2 class="head">Profil Calon Pemilih</h2>
            <h2 class="ket">Johannes Alexander Putra</h2>
            <img src="/images/ktp.png" class="ktp">
            <div class="profile-details">
                <div>
                    <p><strong>NIK:</strong></p>
                    <p><strong>Tempat, Tanggal Lahir:</strong></p>
                    <p><strong>Alamat:</strong></p>
                    <p><strong>No HP:</strong></p>
                    <p><strong>Kota:</strong></p>
                    <p><strong>Kecamatan:</strong></p>
                    <p><strong>Kelurahan:</strong></p>
                    <p><strong>RT/RW:</strong></p>
                </div>
                <div>
                    <p>32729374618273</p>
                    <p>Bandung, 8 Juni 2000</p>
                    <p>Taman Holis Indah G.5</p>
                    <p>081263712823</p>
                    <p>Bandung</p>
                    <p>Margahayu</p>
                    <p>Pungkur</p>
                    <p>06/09</p>
                </div>
            </div>
            <button class="button" onclick="hidemodal()">Tutup</button>
        </div>
    </div>
    
</body>

</html>

<script>
    function showmodal() {

        document.querySelector('.hider').style.display = 'flex';
    }
    function hidemodal(){
       
        document.querySelector('.hider').style.display = 'none';

    }
    
    

</script>