<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/camil/profile-camil.css">
</head>

<body>
    <%- include('./layout/navigator.ejs') %>
    <div class="container">
        <div class="rectangle">
            <h2>Profile Camil</h2>
            <div class="line"></div>
            <h2><%= result[0].namaCamil  %></h2>
            <div class="verification-label">
                <div class="green-oval">
                    <p>Data Sudah Terverifikasi!</p>
                </div>
            </div>
            <div class="spacer-line"></div>
            <div class="profile-details">
                <div>
                    <p><strong>NIK:</strong></p>
                    <p><strong>Tempat, Tanggal Lahir:</strong></p>
                    <p><strong>Alamat:</strong></p>
                    <p><strong>No HP:</strong></p>
                    <p><strong>Kota:</strong></p>
                    <p><strong>Kecamatan:</strong></p>
                    <p><strong>Kelurahan:</strong></p>
                    <p><strong>RT/RW:</strong></p>
                </div>
                <div>
                    <p><%= result[0].idCamil %></p>
                    <p><%= result[0].tptlahir  %>, <%= result[0].tgllahir.toLocaleDateString('en-GB');  %></p>
                    <p>Taman Holis Indah G.5</p>
                    <p><%= result[0].noHP  %></p>
                    <p>Bandung</p>
                    <p>Margahayu</p>
                    <p>Pungkur</p>
                    <p><%= result[0].idRT  %> / <%= result[0].idRW  %></p>
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>
